<div class="Footer">
  <div class="FooterLEFTH">
           <div class="FooterNavi">
          <p class="AdressBig">Navigation</p> 
          <ul class="FooterUl">
           <a href="#Home"><li>ALOITUSSIVU</li></a>
            <a href="#Welcome"> <li>TERVETULOA</li></a>
            <a href="#Staff"> <li>HENKILÖKUNTA</li></a>
            <a href="#GoFlow"> <li>MEISTÄ</li></a>
            <a href="#Products"> <li>TUOTTEET</li></a>
            <a href="#Prices"> <li>HINNASTO</li></a>
            <a href="#Contact"> <li>YHTEISTIEDOT</li></a>
          </ul>
          </div> 

          <div class="FooterMedia">
          <p class="AdressBig">SOCIALA MEDIA</p>
          <div class="FooterImageDown">
          <a href="https://www.facebook.com/FLOWVAASA/"><img class="FaceFooter" src='/globalimg/FooterFace.png' alt="FaceFooter"></a>
          <a href="https://www.instagram.com/salonflowvaasa/"> <img class="FaceFooter" src='/globalimg/FooterInsta.jpg' alt="FaceInsta"></a>
          <a href="http://flowvaasa.blogspot.com/"> <img class="FaceFooter" src='/globalimg/FooterBlog.jpg' alt="FaceBlog"></a>
          </div>
          


          </div>
          <div class="Adress">
            <p class="AdressBig">OSOITE</p> <br>
            <p>Rewell center 139 <br>
            65100 VAASA
            </p>

          </div>
          <div class="TaKontakt">
            <p class="AdressBig">YHTEISTIEDOT</p> <br>
            <p> e: info.@flowvasa.fi <br>
                n: 06 312 0750</p>
          

          </div>

             
         </div>
         </div>