    <!doctype html>
<html>

   
  <head>
    <meta charset="utf-8">
    <title>Flow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, user-scalable=0" />

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/mainresponsive.css">
   
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="myIcon.ico" type="image/x-icon" />
   
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



    </head>
  <body>
    

  
  
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
     <a class="navbar-brand" href="/"><img src='/sweimg/flow.png' alt="flow"/></a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
   
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
         
       <li class="Ftinyone"><a href="#Home" ><img src='/finimg/aloitus.png' alt="Hem"/>   </a></li>
            <li class="Ftinytwo"><a href="#Welcome" ><img src='/finimg/terve.png' alt="Välkommen"/>    </a></li>
            <li class="Ftinythree"><a href="#Staff" ><img src='/finimg/henki.png' alt="Personal"/>  </a></li>
            <li class="Ftinyfour"><a href="#GoFlow" ><img src='/finimg/meist.png' alt="Om Oss"/>   </a></li>
            <li class="Ftinyfive"><a href="#Products" ><img src='/finimg/Tuotteet.png' alt="Produkter"/>  </a></li>           
            <li class="Ftinysix"><a href="#Prices" ><img src='/finimg/Hinnasto.png' alt="PrisLista"/>   </a></li>
            <li class="Ftinyseven"><a href="#Contact" ><img src='/finimg/yhteisti.png' alt="Kontaka Oss"/>   </a></li>
            <li class="FLanguages"><a href="/swedish" ><img src='/finimg/svenska.png' alt="svenska"/> </a></li>
            <li class="Ftinyeight"><a href="/english" ><img src='/sweimg/english.png' alt="english"/>  </a></li>
            
    </ul>
    </div>
  </div>
</nav>
          


        