

.staffrow img {
    width:290px !important;
    height:290px !important;

}



/* Finnish navbar Ends */



@media only screen and (min-width: 1px) and (max-width: 1572px) {
    .navbar {
        margin-bottom: 0px !important;
        padding-left:0% !important;
    }

  
   
   .navbar-brand {
    float: left;
    height: 60px;
    padding-top:23px !important;
    margin-left:0% !important;
    font-size: 18px;
    line-height: 20px;
  }
  

  
}




  .navbar-brand {
    float: left;
    height: 60px;
    padding-top:23px !important;
    font-size: 18px;
    line-height: 20px;
  }

 

.navbar {
    margin-bottom: 0px !important;
    padding-left:13%;
}

nav {
    background-color:white !important;
    height:60px;
    border:none !important;
     
}

.navbar-inverse .navbar-collapse, .navbar-collapse {
     max-height: 550px !important; 
    
     background-color: white;
}

.navbar-toggle {
    background-color:blacK !important;
}


nav ul li a {
    color:black;
    font-family: Arial;
    padding:0;
    

    
}

ul {
    list-style-type: none !important;
}



/* Finnish navbar */
.Ftinyone img {
    width:115px;
}

.Ftinytwo img {
    width:113px;
    
}
.Ftinythree img {
    width:131px;
}
.Ftinyfour img {
    width:75px;
}
.Ftinyfive img {
    width:94px;
}
.Ftinysix img {
    width:95px;
}
.Ftinyseven img {
    width:122px;
}

.FLanguages img {
   
    width:82px;
    height:60px;
    
}

.Ftinyeight img {
    width:80px;
    height:60px;
}




/* Finnish navbar Ends */

/* Swe navbar Begin */
.tinyone img {
    width:53px;
}

.tinytwo img {
    width:113px;
    
}
.tinythree img {
    width:130px;
}
.tinyfour img {
    width:77px;
}
.tinyfive img {
    width:107px;
}
.tinysix img {
    width:93px;
}
.tinyseven img {
    width:130px;
}

.Languages {
   
    width:82px
}

.tinyeight img {
    width:95px;
}

.FlowRight{
   
    width:102px;
   
}
/* Swe navbar Ends */

/* English navbar */
.Etinyone img {
    width:65px;
}

.Etinytwo img {
    width:94px;
    
}
.Etinythree img {
    width:100px;
}
.Etinyfour img {
    width:93px;
}
.Etinyfive img {
    width:98px;
}
.Etinysix img {
    width:93px;
}
.Etinyseven img {
    width:112px;
}

.ELanguages {
    
    width:96px
}

.Etinyeight img {
    width:88px;
    height:60px;
}

.EFlowRight{
    
    width:102px;
   
}
/* English navbar ENDS*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
    height:auto!important;
}


/* HEADER--------------------------- ENDS */

/* pictures CONTENT-------SHIT NAME BUT OK */
#Home {
    padding:0;
    margin:0;
    width:100%;
    height:878px 
}
img.wide {
    
    width:100% !important;
    height:880px 
    
   
    
}



.flow {
    position: absolute !important;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    padding:0;
    margin:0;
}

p.megatext {
    font-size:150px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight:normal;
    font-style:normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height:180px;
    
}

p.minitext {
    margin-top:0;
    font-size:40.59px;
    text-align: center;
}

.fa-circle {
    font-size:25px;
    margin-right:5px;
}


.one {
    margin-left:100px;
    
    
}



img.buttonImg {
    height:90px;
    width:436px;
    position: absolute;
    left: 41%;
    transform: translate(-55%, 0%);
    top:450px;
    
}
img.buttonMoreImg {
    position: absolute;
    top:450px;
    height: 90px;
    left: 62%;
    transform: translate(-45%, 0%);
    
}

img.buttonImgeng {
    height:90px;
    width:436px;
    position: absolute;
    left: 41%;
    transform: translate(-55%, 0%);
    top:450px;
    
}

img.buttonMoreImgeng {
    position: absolute;
    top:450px;
    height: 90px;
    left: 62%;
    width: 300px;
    transform: translate(-45%, 0%);
}

/*-----PICTURE CONTENT ENDS----- */

/*---- WELCOME BEINGS -----*/
.center {
    text-align: center;
    background-color:#F7F5F3;
    padding: 0;
    margin:0;
    
}


p {
    font-family: Arial,  sans-serif;
    margin:0;
}
.FirstPara {
    margin:0;
    padding-top: 100px;
    font-size:24px;
    font-family: Arial, sans-serif;
}

.FontB {
    font-size: 48px;
    margin:0;
    padding:0;
    letter-spacing: 20px;
}
.NoM {
    margin-top:0;
    margin-bottom:15px;
    color:#00BFBF;
}
.Number {
    font-size:40px;
    margin:0;
    color:#00BFBF;
}

.FontMB{
    font-size:20px;
    color:#6C6C6C;
    margin-bottom: 5px;
    
}

.SpaceOne{
    margin-left:105px;
}
.SpaceTwo{
    margin-left:135px;
    
}

.Pbottom {
    font-size:20px;
    color:#6C6C6C;
    margin-bottom:25px;
    padding-bottom:50px;
}
/* WELCOME ENDS---------<- */


/* STAFF BEINGS------<-----*/

.centerStaff {
    text-align: center;
    margin-top:100px;
    font-size:24px;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
  
}



.staffnew {
    content: "";
    clear: both;
    display: table;
    margin-left:470px;
 
    
}
.staffrow {
    
    float:left;
    width:35%;
    margin-top:50px;
}

.staffname {
    font-size:24px;
    
}

.staffworktitle {
    font-size: 14px;
    color:#00BFBF;
}



.SocialMediaSmallButtons {
    Margin-top:100px;
}


.IconLeft {
    margin-left:100px;
}



/* STAFF ENDS ---------------------------------- */

/* WITHFLOW BEGINS--------------------------< */



.WithFlow {
    text-align: center;
    Background-color:#1F1F1F;
    color:white;
    height:353px;
    font-family: Arial, sans-serif;
    margin-top:50px;
    
  
}

.GoFlow {
    font-size:24px;
    padding-top:40px;
}

.GoFlowBlue {
    font-size: 14px;
    color:#00BFBF;
}

.GoFlowGoda {
    padding-top:5px;
}


/* WITHFLOW Ends--------------------------< */

/* ProductPRICE BEGINS ---------------------< */

.Productsimgs {
    text-align: center;
    margin-bottom: 150px;
}
.ProductHeader {
    font-size: 24px;
    margin-top:200px;
}

.ProductMarginTop {
    margin-top: 100px;
}
.ProductImgDown {
    margin-top:50px;
}
.ProductImgDownTwo {
    margin-top:100px;
}

.ProductImgLeft {
    margin-left:125px;
}

.ImgGigaLeft {
    margin-left:600px;
}



/* PRODUCTS IMG ENDS */

.ProductsPrice{
    text-align: center;
    
}

.PriceHeader {
    font-size:24px;
}
.PaketCenter {
    margin:auto !important;
    padding-left: 36% !important;
    font-weight: bold;
    font-size:18px;
    text-decoration: underline;
    padding-bottom: 50px;
    
    
}



.paratest {
    margin:auto;
    padding-left:36%;
    padding-right:36%;
}

.leftparaFirst {
    
    font-weight: bold;
    float:left;
  }


.leftpara {
  float:left;
}
.testleft {
    padding-left:1px;
    float:right;
}







.fakturacenter {
    margin:auto;
    padding-left:36%;
}

.faktura {
    text-align: left;
    font-weight: bold;
    
}
/* ProductPRICE ENDS ---------------------< */

/* Contact Us Begins ---------------------< */
.ContactUs {
text-align: center;
margin-bottom:150px;
margin-top:100px;
height:350px;
position: relative;
font-family: Arial,  sans-serif;
font-weight: normal;
color:white;
}

.ContactUs img {
    height:350px;
    width:100%;
}
.ContactUsHeader {
    font-size: 48px;
    color:#00FFFF; 
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.ContactUsPara {
    font-size: 36px;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.ContactUsSpan {
    color:#00FFFF;   
}

.ContactUsSpanBig {
    color:#00FFFF;
    font-size:48px;   
}

/* Contact Us ENDs ---------------------< */


/* MAPS US BEGIN ----------------- */



.Maps {
    text-align: center;
    
    font-family: Arial, Helvetica, sans-serif;
}

.MapsMoveLeft {
    text-align: center;
    margin-top:-75px;
}




.MapsSocialSpread {
    margin-left:50px;
}

.MapNumber {
    font-size: 40px;
    font-weight: bold;
}
.MapInfo {
    font-size: 20px;
    font-weight: bold;
}
.MapsDown {
    margin-top:25px;
}

/* MAPS US ENDS ----------------- */


/* Foooter BEGIN------------ */


.Footer {
    background-color:#2D2D2D;
    margin-top:350px;
    height:300px;
    color:white;
    text-align: center;
    
}
a {
    color:white !important;
}


.allFooter {
    margin:auto;
    padding-left:36%;
    padding-right:33%;

  
    
    
    
}

.FooterMedia {
    
    float: left;
    padding-top:25px;
}

.Adress {
    Float:left;
    padding-left:10%;
    padding-top:25px;
    text-align: left;
}

.TaKontakt {
    Float:left;
    padding-left:10%;
    padding-top:25px;
    text-align: left;
}

.FaceFooter {
    height: 48px;
    width: 48px;
}
.AdressBig {
    font-size:16px;
}


.FooterImageDown {
    margin-top:25px;
}
/* Foooter ENDS------------ */