@media only screen and (min-width: 768px) and (max-width: 907px) {
    /* Finnish navbar */
.Ftinyone img {
    width:100px !important;
    height:60px !important;
}

.Ftinytwo img {
    width:100px !important;
    height:60px !important;
    
}
.Ftinythree img {
    width:115px !important;
    height:60px !important;
}
.Ftinyfour img {
    width:65px !important;
    height:60px !important;
}
.Ftinyfive img {
    width:80px !important;
    height:60px !important;
}
.Ftinysix img {
    width:80px !important;
    height:60px !important;
}
.Ftinyseven img {
    width:100px !important;
    height:60px !important;
}

.FLanguages img {
   
    width:65px !important;
    height:60px;
    
}

.Ftinyeight img {
    width:60px !important;
    height:60px;
}

}
@media only screen and (min-width: 768px) and (max-width: 880px) {
/* Swe navbar Begin */
.tinyone img {
    width:53px;
    height:60px !important;
}

.tinytwo img {
    width:100px;
    height:60px !important;
    
}
.tinythree img {
    width:110px;
    height:60px !important;
}
.tinyfour img {
    width:70px;
    height:60px !important;
}
.tinyfive img {
    width:100px;
    height:60px !important;
}
.tinysix img {
    width:85px;
    height:60px !important;
}
.tinyseven img {
    width:115px;
    height:60px !important;
}

.Languages {
   
    width:60px;
    height:60px !important;
  
}

.tinyeight img {
    width:75px;
    height:60px !important;
    padding-left:10px;


/* Swe navbar Ends */
}
}
@media only screen and (min-width: 768px) and (max-width: 839px) {
/* English navbar */
.Etinyone img {
    width:65px;
    height:60px !important;
}

.Etinytwo img {
    width:75px;
    height:60px !important;
    
}
.Etinythree img {
    width:85px;
    height:60px !important;
}
.Etinyfour img {
    width:85px;
    height:60px !important;
}
.Etinyfive img {
    width:90px;
    height:60px !important;
}
.Etinysix img {
    width:85px;
    height:60px !important;
}
.Etinyseven img {
    width:95px;
    height:60px !important;
}

.ELanguages {
    
    width:90px;
    height:60px !important;
}

.Etinyeight img {
    width:80px;
    height:60px;
}
}

/* English navbar ENDS*/

@media only screen and (min-width: 768px) and (max-width: 250000px ) {
    .navbar li a {
        padding:0 !important;
    }
    
}
@media only screen and (min-width: 768px) and (max-width: 1053px) {
    .navbar-brand {
        display:none !important;
    }
    .container-fluid {
        padding-left:0 !important;
    }
    }
    @media only screen and (min-width: 1px) and (max-width: 767px) {
    .navbar-inverse .navbar-collapse, .navbar-collapse {
        max-height: 550px !important; 
        width:175px !important;
        background-color: white;
       
   }

    }

    @media only screen and (min-width: 1px) and (max-width: 250000px) {
        .navbar {
            margin-bottom: 0px !important;
            padding-left:0% !important;
        }
    
      
       
       .navbar-brand {
        float: left;
        height: 60px;
        padding-top:23px !important;
        margin-left:0% !important;
        font-size: 18px;
        line-height: 20px;
      }
      
    
      
    }


/* NAVBAR DONE */





/* header/ big pic */
@media only screen and (min-width: 1300px) and (max-width: 1600px) {
    p.megatext {
      font-size:125px;
    }
    
  }


  @media only screen and (min-width: 1300px) and (max-width: 1600px) {
    img.buttonImg {
        left: 37%;
    transform: translate(-55%, 0%);
    }
    img.buttonMoreImg {
        left: 66%;
    transform: translate(-55%, 0%);
    }
    img.buttonImgeng {
        left: 37%;
    transform: translate(-55%, 0%);
    }
    img.buttonMoreImgeng {
        left: 66%;
    transform: translate(-55%, 0%);
    }
  }

/* header/ big pic */

/* staff pictures */
  @media only screen and (min-width: 1300px) and (max-width: 1600px) {
    .staffnew {
        margin-left:21%;
    }
    .staffrow {
        width:37%
    }
  }

/* staff pictures */

/* price list */


  /* price list */

/* CONTACT */

  @media only screen and (min-width: 1300px) and (max-width: 1600px) {
    .ContactUsHeader {
        left: 50%;
    transform: translate(-50%, -50%);
    top: 40px;
    }
}


/* CONTACT */

/* GOOGLE MAPS */




/* GOOGLE MAPS */

/* Footer */

@media only screen and (min-width: 1300px) and (max-width: 1600px) {
    .FooterNavi {
        margin-left:280px;
    }

}


/* Footer */

/* 1440+ Respo1440 ENDS */

/* 1024+ respo1024 Begins */



/* header/ big pic */
@media only screen and (min-width: 1024px) and (max-width: 1299px) {
    p.megatext {
      font-size:100px;
      height:120px;
    }
    p.minitext {
        font-size:35px;
    }
    .one {
        margin-left:50px;
    }
   
    
  }

  @media only screen and (min-width: 1024px) and (max-width: 1299px) {
    img.buttonImg {
        left: 40%;
        transform: translate(-55%, 0%);
        height:60px;
        width: 300px;
    }
    img.buttonMoreImg {
        left: 66%;
transform: translate(-55%, 0%);
        height:60px;
    }

    img.buttonImgeng {
        left: 40%;
        transform: translate(-55%, 0%);
        height:60px;
        width: 300px;
    }

    img.buttonMoreImgeng {
        left: 66%;
transform: translate(-55%, 0%);
        height:60px;
        width:230px;
  }
  }
/* header/ big pic */

/* staff pictures */
  @media only screen and (min-width: 1024px) and (max-width: 1299px) {
    .staffnew {
        margin-left:9%;
    }
    .staffrow {
        width:46%
    }
    .ProductHeader {
       margin-top: 100px;
    }
  }

/* staff pictures */

/* price list */

@media only screen and (min-width: 900px) and (max-width: 1299px) {
    .paratest {
        margin:auto;
        padding-left:30%;
        padding-right:30%;
    }
    
    .PaketCenter {
        margin:auto !important;
        padding-left: 30% !important;
       
        
        
    }
    
   
   
    .fakturacenter {
        margin:auto;
        padding-left:30%;
    }

}
  /* price list */

/* CONTACT */

  @media only screen and (min-width: 1024px) and (max-width: 1299px) {
    .ContactUsHeader {
        left: 50%;
    transform: translate(-50%, -50%);
    top: 50px;
    }
}


/* CONTACT */

/* GOOGLE MAPS */



/* GOOGLE MAPS */

/* Footer */

@media only screen and (min-width: 1024px) and (max-width: 1299px) {
    .FooterNavi {
        margin-left:80px;
    }

}


/* Footer */


/* 1024+ Respo1024 ENDS */

/* 768+ respo768 Begins */


/* header/ big pic */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    p.megatext {
      font-size:75px;
      height:120px;
    }
    p.minitext {
        font-size:28px;
    }
    .one {
        margin-left:25px;
    }
   #Home {
    height:750px !important;
   }
   img.wide {
    height:750px;
   }
  }


  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    img.buttonImg {
        left: 40%;
        transform: translate(-55%, 0%);
        height:50px;
        width: 270px;
        top: 400px;
    }
    img.buttonMoreImg {
        left: 68%;
        transform: translate(-55%, 0%);
        height:50px;
        top: 400px;
    }
    img.buttonImgeng {
        left: 40%;
        transform: translate(-55%, 0%);
        height:50px;
        width: 270px;
        top: 400px;
    }
    img.buttonMoreImgeng {
        left: 68%;
        transform: translate(-55%, 0%);
        height:50px;
        top: 400px;
        width:170px;
    }
  }

/* header/ big pic */

/* staff pictures */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .staffnew {
        margin-left:0%;
    }
    .staffrow {
        width:100%
    }
    .ProductHeader {
       margin-top: 100px;
    }
  }

/* staff pictures */

/* PRODUCT PICTURES */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
.ProductImgLeft {
    margin-left:0px;
}
.ProductImgDownTwo {
    margin-top:50px;
}
.ImgGigaLeft {
    margin-left:0%;
}
}

/* PRODUCT PICTURES */


/* price list */
@media only screen and (min-width: 678px) and (max-width: 899px) {
    .paratest {
        margin:auto;
        padding-left:25%;
        padding-right:25%;
    }
    
    .PaketCenter {
        margin:auto !important;
        padding-left: 25% !important;
       
        
        
    }

    .fakturacenter {
        margin:auto;
        padding-left:25%;
    }

}


  /* price list */

/* CONTACT */

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .ContactUsHeader {
        left: 50%;
    transform: translate(-50%, -50%);
    top: 80px;
    font-size:30px;
    }
    .ContactUsSpanBig {
        color:#00FFFF;
        font-size:30px;   
    }
    .ContactUsPara {
        font-size: 30px;
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
    
}


/* CONTACT */

/* GOOGLE MAPS */




/* GOOGLE MAPS */

/* Footer */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .FooterNavi {
        margin-left:65px;
    }
    .FooterMedia {
        Float:left;
        margin-left:50px;
        margin-top:25px;
    }
    
    .Adress {
        Float:left;
        margin-left:50px;
        margin-top:25px;
        text-align: left;
    }
    
    .TaKontakt {
        Float:left;
        margin-left:50px;
        margin-top:25px;
        text-align: left;
    }
    

}


/* 768+ Respo768 ENDS */

/* 425+ respo425 Begins */


/* header/ big pic */
@media only screen and (min-width: 425px) and (max-width: 767px) {
    .flow {
        top:200px;
    }
    p.megatext {
      font-size:40px;
      height:50px;
    }
    p.minitext {
        font-size:17px;
    }
    .one {
        margin-left:10px;
    }
    .fa-circle {
        font-size:10px;
        margin-right:5px;
    }
   #Home {
    height:450px !important;

    
   }
   img.wide {
    height:450px;
    
   }
  }
  

  @media only screen and (min-width: 425px) and (max-width: 767px) {
    img.buttonImg {
        left: 35%;
    transform: translate(-50%, 0%);
        height:45px;
        width: 200px;
        top:250px;
    }
    img.buttonMoreImg {
        left: 70%;
    transform: translate(-30%, 0%);
        height:45px;
        top:250px;
    }
    img.buttonImgeng {
        left: 30%;
    transform: translate(-50%, 0%);
        height:45px;
        width: 200px;
        top:250px;
    }
    img.buttonMoreImgeng {
        left: 70%;
    transform: translate(-30%, 0%);
        height:45px;
        top:250px;
        width:175px;
    }
  }

/* header/ big pic */
/* With flow */
@media only screen and (min-width: 425px) and (max-width: 767px) {
    .FirstPara {
        padding-top:35px;
    }


}
/* With flow */
/* staff pictures */
  @media only screen and (min-width: 425px) and (max-width: 767px) {
    .staffnew {
        margin-left:0%;
    }
    .staffrow {
        width:100%
    }
    .ProductHeader {
       margin-top: 100px;
    }
    .IconLeft {
        margin-left:50px;
    }
  }

/* staff pictures */

/* PRODUCT PICTURES */
@media only screen and (min-width: 425px) and (max-width: 767px) {
.ProductImgLeft {
    margin-left:0px;
    margin-top:25px;
}
.ProductImgDownTwo {
    margin-top:50px;
}
.ImgGigaLeft {
    margin-left:0%;
}
}

/* PRODUCT PICTURES */


/* price list */
@media only screen and (min-width: 506px) and (max-width: 677px) {
    .paratest {
        margin:auto;
        padding-left:15%;
        padding-right:15%;
    }
    
    .PaketCenter {
        margin:auto !important;
        padding-left: 15% !important;
       
        
        
    }

    .fakturacenter {
        margin:auto;
        padding-left:15%;
        padding-right:15%;
    }

}



  /* price list */

/* CONTACT */

  @media only screen and (min-width: 425px) and (max-width: 767px) {
    .ContactUsHeader {
        left: 50%;
    transform: translate(-50%);
    top: 65px;
    font-size:25px;
    }
    .ContactUsSpanBig {
        color:#00FFFF;
        font-size:25px;   
    }
    .ContactUsPara {
        font-size: 25px;
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
    
}


/* CONTACT */

/* GOOGLE MAPS */

@media only screen and (min-width: 1px) and (max-width: 610px) {
    
    .GoogleMaps {
        
        display:none;
    }
   
}

@media only screen and (min-width: 611px) and (max-width: 250000px) {
    
    .GoogleMapslittle {
        
        display:none;
    }
   
}
/* GOOGLE MAPS */

/* Footer */

@media only screen and (min-width: 425px) and (max-width: 767px) {
    .FooterNavi {
        margin-left:20px;
    }
    .FooterMedia {
        Float:left;
        margin-left:50px;
        margin-top:25px;
    }
    
    .Adress {
        Float:left;
        margin-left:25px;
        margin-top:25px;
        text-align: left;
    }
    
    .TaKontakt {
        Float:left;
        margin-left:25px;
        margin-top:25px;
        text-align: left;
    }
    

}


/* 425+ Respo425 ENDS */

/* 375+ respo375 Begins */


/* header/ big pic */
@media only screen and (min-width: 360px) and (max-width: 424px) {
    .flow {
        top:200px;
    }
    p.megatext {
      font-size:30px;
      height:40px;
    }
    p.minitext {
        font-size:15px;
    }
    .one {
        margin-left:0px;
    }
    .fa-circle {
        font-size:10px;
        margin-right:0px;
    }
   #Home {
    height:450px !important;

    
   }
   img.wide {
    height:450px;
    
   }
  }


  @media only screen and (min-width: 360px) and (max-width: 424px) {
    img.buttonImg {
        left: 30%;
    transform: translate(-50%, 0%);
        height:40px;
        width: 180px;
        top:250px;
    }
    img.buttonMoreImg {
        left: 75%;
    transform: translate(-45%, 0%);
        height:40px;
        top:250px;
    }
    img.buttonImgeng {
        left: 30%;
    transform: translate(-50%, 0%);
        height:40px;
        width: 180px;
        top:250px;
    }
    img.buttonMoreImgeng {
        left: 75%;
    transform: translate(-45%, 0%);
        height:40px;
        top:250px;
        width:150px;
    }
  }

/* header/ big pic */
/* With flow */
@media only screen and (min-width: 360px) and (max-width: 424px) {
    .FirstPara {
        padding-top:35px;
    }


}
/* With flow */
/* staff pictures */
  @media only screen and (min-width: 360px) and (max-width: 424px) {
    .staffnew {
        margin-left:0%;
    }
    .staffrow {
        width:100%
    }
    .ProductHeader {
       margin-top: 100px;
    }
    .IconLeft {
        margin-left:50px;
    }
  }

/* staff pictures */

/* PRODUCT PICTURES */
@media only screen and (min-width: 360px) and (max-width: 424px) {
.ProductImgLeft {
    margin-left:0px;
    margin-top:25px;
}
.ProductImgDownTwo {
    margin-top:50px;
}
.ImgGigaLeft {
    margin-left:0%;
}
}

/* PRODUCT PICTURES */


/* price list */
@media only screen and (min-width: 1px) and (max-width: 379px) {
    .paratest {
        margin:auto;
        padding-left:0.5%;
        padding-right:0.5%;
    }
    
    .PaketCenter {
        margin:auto !important;
        padding-left: 0.5% !important;
       
        
        
    }
    .leftparaFirst {
        
        font-weight: normal;
        float:left;
      }

    .fakturacenter {
        margin:auto;
        padding-left:0.5%;
        padding-right:0.5%;
    }

}
  /* price list */

/* CONTACT */

  @media only screen and (max-width: 424px) and (min-width: 360px) {
    .ContactUsHeader {
        left: 50%;
    transform: translate(-50%);
    top: 65px !important;
    font-size:20px !important;
    }
    .ContactUsSpanBig {
        color:#00FFFF;
        font-size:20px !important; 
    }
    .ContactUsPara {
        font-size: 20px !important;
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
    
}


/* CONTACT */





/* Footer */

@media only screen and (min-width: 360px) and (max-width: 424px) {
    .FooterNavi {
        margin-left:0px;
        font-size:12px;
    }
    .FooterMedia {
        Float:left;
        margin-left:35px;
        
        font-size:12px;
    }
    
    .Adress {
        Float:left;
        margin-left:25px;
       
        text-align: left;
        font-size:12px;
    }
    
    .TaKontakt {
        Float:left;
        margin-left:10px;
        
        text-align: left;
        font-size:12px;
    }
    

}





/* 425+ Respo425 ENDS */

/* 325+ respo325 Begins */



/* header/ big pic */
@media only screen and (min-width: 320px) and (max-width: 359px) {
    .flow {
        top:200px;
    }
    p.megatext {
      font-size:30px;
      height:40px;
    }
    p.minitext {
        font-size:15px;
    }
    .one {
        margin-left:0px;
    }
    .fa-circle {
        font-size:10px;
        margin-right:0px;
    }
   #Home {
    height:450px !important;

    
   }
   img.wide {
    height:450px;
    
   }
  }


  @media only screen and (min-width: 320px) and (max-width: 359px) {
    img.buttonImg {
        left: 1%;
    transform: translate(-0%, 0%);
        height:40px;
        width: 180px;
        top:250px;
    }
    img.buttonMoreImg {
        left: 59%;
    transform: translate(-0%, 0%);
        height:40px;
        top:250px;
    }
    img.buttonImgeng {
        left: 1%;
    transform: translate(-0%, 0%);
        height:40px;
        width: 180px;
        top:250px;
    }
    img.buttonMoreImgeng {
        left: 59%;
    transform: translate(-0%, 0%);
        height:40px;
        top:250px;
        width:125px;
    }
  }

/* header/ big pic */
/* With flow */
@media only screen and (min-width: 320px) and (max-width: 359px) {
    .FirstPara {
        padding-top:35px;
    }


}
/* With flow */
/* staff pictures */
  @media only screen and (min-width: 320px) and (max-width: 359px) {
    .staffnew {
        margin-left:0%;
    }
    .staffrow {
        width:100%
    }
    .ProductHeader {
       margin-top: 100px;
    }
    .IconLeft {
        margin-left:50px;
    }
  }

/* staff pictures */

/* PRODUCT PICTURES */
@media only screen and (min-width: 320px) and (max-width: 359px) {
.ProductImgLeft {
    margin-left:0px;
    margin-top:25px;
}
.ProductImgDownTwo {
    margin-top:50px;
}
.ImgGigaLeft {
    margin-left:0%;
}
}

/* PRODUCT PICTURES */


/* price list */

@media only screen and (min-width: 378px) and (max-width: 505px) {
    .paratest {
        margin:auto;
        padding-left:5%;
        padding-right:5%;
    }
    
    .PaketCenter {
        margin:auto !important;
        padding-left: 5% !important;
       
        
        
    }

    .fakturacenter {
        margin:auto;
        padding-left:5%;
        padding-right:5%;
    }

}
  

  /* price list */

/* CONTACT */

  @media only screen and (min-width: 320px) and (max-width: 359px) {
    .ContactUsHeader {
        left: 50%;
    transform: translate(-50%);
    top: 65px;
    font-size:20px;
    }
    .ContactUsSpanBig {
        color:#00FFFF;
        font-size:20px;  
    }
    .ContactUsPara {
        font-size: 20px;
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
    
}


/* CONTACT */


/* Footer */

@media only screen and (min-width: 320px) and (max-width: 359px) {
    .FooterNavi {
        margin-left:0px;
        font-size:12px;
    }
    .FooterMedia {
        Float:left;
        margin-left:35px;
        
        font-size:12px;
    }
    
    .Adress {
        Float:left;
        margin-left:0px;
       
        text-align: left;
        font-size:12px;
    }
    
    .TaKontakt {
        Float:left;
        margin-left:10px;
        
        text-align: left;
        font-size:12px;
    }
    

}


/* header/ big pic */
@media only screen and (min-width: 1px) and (max-width: 319px) {
    .flow {
        top:200px;
    }
    p.megatext {
      font-size:30px;
      height:40px;
    }
    p.minitext {
        font-size:15px;
    }
    .one {
        margin-left:0px;
    }
    .fa-circle {
        font-size:10px;
        margin-right:0px;
    }
   #Home {
    height:450px !important;

    
   }
   img.wide {
    height:450px;
    
   }
  }


  @media only screen and (min-width: 1px) and (max-width: 319px) {
    img.buttonImg {
        left: 1%;
    transform: translate(-0%, 0%);
        height:40px;
        width: 180px;
        top:250px;
    }
    img.buttonMoreImg {
        left: 59%;
    transform: translate(-0%, 0%);
        height:40px;
        top:250px;
    }
    img.buttonImgeng {
        left: 1%;
    transform: translate(-0%, 0%);
        height:40px;
        width: 180px;
        top:250px;
    }
    img.buttonMoreImgeng {
        left: 59%;
    transform: translate(-0%, 0%);
        height:40px;
        top:250px;
        width:125px;
    }
  }

/* header/ big pic */
/* With flow */
@media only screen and (min-width: 1px) and (max-width: 319px) {
    .FirstPara {
        padding-top:35px;
    }


}
/* With flow */
/* staff pictures */
  @media only screen and (min-width: 1px) and (max-width: 319px) {
    .staffnew {
        margin-left:0%;
    }
    .staffrow {
        width:100%
    }
    .ProductHeader {
       margin-top: 100px;
    }
    .IconLeft {
        margin-left:50px;
    }
  }

/* staff pictures */

/* PRODUCT PICTURES */
@media only screen and (min-width: 1px) and (max-width: 319px) {
.ProductImgLeft {
    margin-left:0px;
    margin-top:25px;
}
.ProductImgDownTwo {
    margin-top:50px;
}
.ImgGigaLeft {
    margin-left:0%;
}
}

/* PRODUCT PICTURES */


/* price list */


  /* price list */

/* CONTACT */

  @media only screen and (min-width: 1px) and (max-width: 319px) {
    .ContactUsHeader {
        left: 50%;
    transform: translate(-50%);
    top: 65px;
    font-size:20px;
    }
    .ContactUsSpanBig {
        color:#00FFFF;
        font-size:20px;  
    }
    .ContactUsPara {
        font-size: 20px;
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
    
}


/* CONTACT */


/* Footer */

@media only screen and (min-width: 1px) and (max-width: 319px) {
    .FooterNavi {
        margin-left:0px;
        font-size:12px;
    }
    .FooterMedia {
        Float:left;
        margin-left:35px;
        
        font-size:12px;
    }
    
    .Adress {
        Float:left;
        margin-left:0px;
       
        text-align: left;
        font-size:12px;
    }
    
    .TaKontakt {
        Float:left;
        margin-left:10px;
        
        text-align: left;
        font-size:12px;
    }
    

}
