<%- include('../_layouts/adminheader/adminheader') %>

<h2 class="page-title">Add content</h2>
<a href="/admin/price" class="btn btn-primary">Back to all content page</a>
<br><br>

<form method="post" action="/admin/price/add-price" enctype="multipart/form-data">

<div class="form-group">
<label for="">name</label>
<input class="form-control"  id="first" name="first"  placeholder="content"><%= first %>
</div>

<div class="form-group">
<label for="">If necessary</label>
<input name="second" class="form-control" id="second"   placeholder="Content"><%= second %> 
</div>




<button class="btn btn-default">Submit</button>
</form>





<%- include('../_layouts/adminheader/adminfooter') %>